---
export const prerender = true;

import AboutMe from 'sections/about_me.astro';
import WorkHistory from 'sections/work_history.astro';
import Main from 'layouts/main.astro';
import Sidebar from 'sections/sidebar.astro';
---

<Main>
	<div
		class="grid grid-cols-1 md:grid-cols-[150px,1fr] lg:grid-cols-[250px,1fr] md:gap-20 print:grid-cols-[150px,1fr]"
	>
		<Sidebar />
		<div>
			<AboutMe />
			<WorkHistory />
		</div>
	</div>
</Main>
