---
import { XORShift } from 'src/lib/xorshift';
import dayjs from 'dayjs';
import isoWeek from 'dayjs/plugin/isoWeek';
import Main from '../layouts/main.astro';
import { getWorkout } from 'src/lib/workouts';
import { marked } from 'marked';

dayjs.extend(isoWeek);

const now = dayjs()
	// .add(2, 'days') // iso week is mon-sun, so add 2 days so that sat becomes mon
	.add(10, 'hours'); // vercel is in UTC, so add 10 hours so that 6am is actually after midnight in UTC

const yearWeek = Number(
	`${now.isoWeekYear()}${now.isoWeek().toString().padStart(2, '0')}`,
); // number in format YYYYMM
const weekXorShift = new XORShift(yearWeek);

const workout = getWorkout(yearWeek, (max: number) =>
	weekXorShift.randomInt(0, max),
);
const content = marked.parse(workout.content);
---

<Main>
	<h1>YearWeek - {yearWeek}</h1>

	<ul class="list-disc ml-8 mb-12">
		<li>
			Low training load, high impact. Goal is to improve strength in key
			movement patterns.
		</li>
		<li>Keep the effort of each set to below 70%. Target 3 reps.</li>
		<li>Should finish session feeling energised.</li>
	</ul>

	<span class="markdown" set:html={content} />
</Main>

<style is:inline>
	.markdown ul {
		list-style-type: disc;
		margin-left: 2rem;
	}
</style>
