---
import Main from 'layouts/main.astro';

const columns = 12;
---

<script>
	import '../../lib/td/main';
</script>

<Main>
	<div
		id="tile-board"
		class=`grid grid-cols-[repeat(12,_minmax(0,_1fr))] grid-rows-auto gap-1 max-w-lg mx-auto relative`
	>
		{
			Array(columns ** 2)
				.fill(0)
				.map((_, i) => (
					<button
						tile-row={(i / columns) | 0}
						tile-column={i % columns}
						class="tile hover:bg-slate-300 transition-colors aspect-square border border-black"
					/>
				))
		}
		<div
			id="tile-menu"
			role="tooltip"
			class="bg-white border border-black shadow rounded p-4 w-max absolute top-0 left-0 invisible"
		>
			<p>hello world</p>
		</div>
	</div>
</Main>
