---
import { colours, type TagName } from 'data/employment_history';

type Props = {
	text: TagName;
};
const { text } = Astro.props;

const colour = colours.get(text);
if (!colour) {
	throw new Error(`Colour ${text} missing from colours`);
}
---

<span
	style={`background-color: ${colour}`}
	class="text_small text-white rounded-full px-2 select-none cursor-default"
>
	{text}
</span>
