---
import { Image } from 'astro:assets';
import chris from '../assets/chris.jpeg';

import Tag from 'components/tag.astro';
import { TagName } from 'data/tag_names';

const tags = Object.values(TagName);
---

<section>
	<header class="md:mb-12">
		<hgroup class="mb-8">
			<h1 class="mb-0">Chris Kerr</h1>
			<p class="text-xl">Software Engineer</p>
		</hgroup>
	</header>

	<Image
		class="rounded-full w-[250px] aspect-square object-cover mb-8"
		src={chris}
		alt="Image of Chris"
		width={300}
		densities={[1, 2, 3]}
		format="webp"
		loading="eager"
	/>

	<div class="mb-8">
		<p class="mb-0">Hobart, Australia</p>
		<a href="mailto:chriskerr@me.com">chriskerr@me.com</a>
	</div>

	<div class="flex flex-wrap gap-2 items-start">
		{tags.map(tag => <Tag text={tag} />)}
	</div>
</section>
