---
import { Image } from 'astro:assets';
import chris from '../assets/chris.jpeg';

import { work_history } from 'data/work';
import Tag from 'components/tag.astro';
import { TagName } from 'data/tag_names';

const tags = (
	Object.entries(
		work_history.reduce<Partial<Record<TagName, number>>>(
			(acc, curr, i) => {
				for (const tag of curr.tags) {
					acc[tag] = (acc[tag] ?? 0) + 1 + 1 / i;
				}
				return acc;
			},
			{},
		),
	) as [TagName, number][]
).sort((a, b) => b[1] - a[1]);
---

<section>
	<header class="md:mb-12">
		<hgroup class="mb-8">
			<h1 class="mb-0">Chris Kerr</h1>
			<p class="text-xl">Web Developer</p>
		</hgroup>
	</header>

	<Image
		class="rounded-full w-[250px] aspect-square object-cover mb-8"
		src={chris}
		alt="Image of Chris"
		width={300}
		format="webp"
	/>

	<div class="mb-8">
		<p class="mb-0">Sunshine Coast, Australia</p>
		<a href="mailto:chriskerr@me.com">chriskerr@me.com</a>
		<a href="https://github.com/chrskerr">github.com/chrskerr</a>
	</div>

	<div class="flex flex-wrap gap-2 items-start">
		{tags.map(tag => <Tag text={tag[0]} />)}
	</div>
</section>
