---
import './global.css';
import '@fontsource/roboto-mono';

const title = 'Chris Kerr';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon-16x16.png"
		/>

		<title>{title}</title>
		<meta
			name="description"
			content="Chris Kerr. Web developer from the Sunshine Coast, Australia."
		/>
	</head>
	<body class="bg-stone-100 text-stone-950">
		<div class="font-mono mx-auto pt-12 px-8 max-w-5xl w-full">
			<main>
				<slot />
			</main>
		</div>
	</body>
</html>
