:root {
	--brand-blue: #0077bd;
	--brand-blue-dark: #02588a;
	--brand-blue-extra-dark: #02446b;
	--brand-secondary: #e94d10;
	--brand-maroon: #480032;
	--brand-maroon-dark: #380027;

	--rainbow-gradient: linear-gradient(
		90deg,
		hsl(202deg 100% 37%) 0%,
		hsl(194deg 100% 47%) 22%,
		hsl(186deg 100% 57%) 33%,
		hsl(178deg 100% 67%) 42%,
		hsl(169deg 100% 77%) 50%,
		hsl(131deg 97% 70%) 58%,
		hsl(93deg 94% 63%) 67%,
		hsl(55deg 90% 56%) 78%,
		hsl(17deg 87% 49%) 100%
	);
}

html,
body {
	@apply bg-white;
}

* {
	-webkit-font-smoothing: antialiased;
	@apply font-mono;
}

.nav-gradient:before {
	background-image: var(--rainbow-gradient);
	content: ' ';
}

.display-width {
	@apply w-full max-w-5xl px-10 mx-auto;
}

.display-width.narrower {
	@apply max-w-2xl;
}

.divider-before {
	position: relative;
	@apply mt-28 sm:mt-40;
}

.divider-before::before {
	position: absolute;
	content: ' ';
	height: 2px;
	width: 50%;
	background-image: var(--rainbow-gradient);
	left: 50%;
	transform: translateX(-50%);
	top: -3rem;
}

@media (min-width: 640px) {
	.divider-before::before {
		top: -5rem;
	}
}

button.button {
	@apply px-3 py-2 text-white transition rounded shadow-lg bg-brand hover:bg-brand-dark;
	@apply disabled:bg-gray-500 disabled:hover:bg-gray-500 disabled:cursor-not-allowed;
}

button.small {
	@apply text-sm;
}

button.button.maroon {
	@apply bg-brand-maroon hover:bg-brand-maroon-dark;
}

button.button.dark {
	@apply bg-brand-dark hover:bg-brand-extra-dark;
}

input[type='radio']:checked {
	@apply bg-brand;
}

/* PROSE */

.prose {
	@apply max-w-5xl px-10 mx-auto font-mono;
}

.prose pre {
	word-wrap: break-word;
	line-break: loose;
	@apply p-0 bg-transparent;
}

.prose pre code {
	background-color: rgb(246, 248, 250);
	@apply rounded-lg;
}

.prose a {
	@apply text-brand;
}

.prose b,
.prose strong,
.prose i,
.prose em {
	@apply text-brand-secondary;
}

/* ICONS */
@font-face {
	font-family: 'icomoon';
	src: url('fonts/icomoon.ttf?e7n5cv') format('truetype'),
		url('fonts/icomoon.woff?e7n5cv') format('woff'),
		url('fonts/icomoon.svg?e7n5cv#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-edit-2:before {
	content: '\e901';
}
.icon-edit-2-after:after {
	content: '\e901';
}
.icon-search:before {
	content: '\e902';
}
.icon-arrow-down-circle:before {
	content: '\e903';
}
.icon-x:before {
	content: '\e904';
}

.transform-fix {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
}

/* LOADER */
#nprogress {
	pointer-events: none;
}

#nprogress .bar {
	background: var(--brand-blue);

	position: fixed;
	z-index: 1031;
	top: 0;
	left: 0;

	width: 100%;
	height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
	display: block;
	position: absolute;
	right: 0px;
	width: 100px;
	height: 100%;
	box-shadow: 0 0 10px var(--brand-blue), 0 0 5px var(--brand-blue);
	opacity: 1;

	-webkit-transform: rotate(3deg) translate(0px, -4px);
	-ms-transform: rotate(3deg) translate(0px, -4px);
	transform: rotate(3deg) translate(0px, -4px);
}
